/* 全体の基本スタイル */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

/* ヘッダー */
header {
  background: linear-gradient(to bottom, #371348, #683e8b);
  color: #ffffffd9;
  padding: 40px 0;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 2em;
}

nav {
  margin-top: 20px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px; /* ナビゲーションリンクの間隔を広げる */
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2em; /* ナビゲーションリンクのフォントサイズを大きくする */
  font-weight: bold;
  padding: 5px 10px; /* パディングを追加してホバーエリアを広げる */
  border-radius: 4px; /* 角を丸める */
  transition: background-color 0.3s, color 0.3s; /* スムーズなトランジションを追加 */
}

nav ul li a:hover {
  color: #333; /* ホバー時の文字色を設定 */
  background-color: #fff; /* ホバー時の背景色を設定 */
}

/* メインビジュアル */
.main-visual {
  background-color: #d0d0d0; /* より落ち着いた色 */
  color: #333;
  padding: 30px 20px;
  text-align: center;
  border-bottom: 1px solid #ccc; /* 軽いボーダーを追加 */
}

.main-visual p {
  font-size: 1em; /* 通常のフォントサイズ */
  margin: 0;
}

/* 概要 */
.overview {
  padding: 20px 20px;
  /* background-color: #e0f7fa; 薄い水色 */
  /* color: #333; 文字色をダークグレーに変更 */
  background-color: #fff;
  text-align: left;
  border-bottom: 1px solid #ccc; /* 横線を追加 */
}

.overview ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.overview ul li {
  font-size: 1em; /* 通常のフォントサイズ */
  margin-bottom: 10px;
}


/* 参加申し込み */
.application {
  /* background-color: #e9ecef; */
  background-color: #fff;
  padding: 20px 20px;
  text-align: left;
  border-bottom: 1px solid #ccc; /* 横線を追加 */
}

.application h2 {
  font-size: 1.5em; /* 小さめのフォントサイズ */
  margin-bottom: 20px;
}

.application p {
  font-size: 1em; /* 通常のフォントサイズ */
}

/* サポート */
.support {
  padding: 20px 20px;
  background-color: #fff;
  text-align: left;
}

.support h2 {
  font-size: 1.5em; /* 小さめのフォントサイズ */
  margin-bottom: 20px;
}

.support p {
  font-size: 1em; /* 通常のフォントサイズ */
}

.support ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.support ul li {
  font-size: 1em; /* 通常のフォントサイズ */
  margin-bottom: 10px;
}

/* フッター */
footer {
  background: linear-gradient(to bottom, #562c78, #371348);
  color: #fff;
  padding: 20px;
  text-align: right;
}

footer p {
  margin: 5px 0;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer ul li {
  margin-bottom: 5px;
}

footer a {
  color: #fff;
  text-decoration: none;
}


/* プログラムpdf */
.programpdf {
  background-color: #d0d0d0; /* より落ち着いた色 */
  color: #333;
  padding: 20px 20px;
  text-align: center;
  border-bottom: 1px solid #ccc; /* 軽いボーダーを追加 */
}

.programpdf p {
  font-size: 1em; /* 通常のフォントサイズ */
  margin: 0;
}


/* プログラム */
.program {
  /* background-color: #e9ecef; */
  background-color: #fff;
  padding: 20px 20px;
  text-align: left;
  border-bottom: 1px solid #ccc; /* 横線を追加 */
}

.program h2 {
  font-size: 1.5em; /* 小さめのフォントサイズ */
  margin-bottom: 20px;
}

.program p {
  font-size: 1em; /* 通常のフォントサイズ */
}

/* 外側のリストの間隔を広げる */
.program ul > li {
  font-size: 1em; /* 通常のフォントサイズ */
  margin-bottom: 20px; /* 外側のリスト項目の間隔を広げる */
}

/* 内側のリストのスタイル */
.program ul ul li {
  margin-bottom: 0px; /* 内側のリストの間隔を狭くする */
}


/* アクセス */
.access {
  padding: 20px 20px;
  background-color: #fff;
  text-align: left;
}

.access h2 {
  font-size: 1.5em; /* 小さめのフォントサイズ */
  margin-bottom: 20px;
}

.access p {
  font-size: 1em; /* 通常のフォントサイズ */
}

.access ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.access ul li {
  font-size: 1em; /* 通常のフォントサイズ */
  margin-bottom: 10px;
}